{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<section id="contact-section" class="contact-section">
    <h1 class="contact-heading">Contact Me</h1>
    <p class="contact-description">Feel free to reach out to me through any of the following methods:</p>
    
    <!-- Contact Information -->
    <ul class="contact-info">
        <li><i class="fas fa-envelope"></i>Email: <strong><a href="mailto:hiremeforse@gmail.com">hiremeforse@gmail.com</a></strong></li>
        <li><i class="fas fa-phone"></i>Phone: <strong><a href="tel:+918880144666">8880144666</a></strong></li>
        <li><i class="fab fa-linkedin"></i>LinkedIn: <a href="https://www.linkedin.com/in/punit-gautam-8529b48" target="_blank">LinkedIn Profile</a></li>
        <li><i class="fab fa-whatsapp"></i>WhatsApp: <strong><a href="https://wa.me/918880144666" target="_blank">Message me on WhatsApp</a></strong></li>
    </ul>
</section>

{% endblock %}
